body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
}

.magnify{
    font-size: 220%;
}

.blue{
    color: darkblue;
}

.myFont{
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.ancientFont{
    font-family: 'Apple Chancery';
}